In [46]:
import pandas as pd
import numpy as np
waitdata_raw = pd.read_csv('2009_2020-annual-surgical_wait_times.csv')
waitdata_raw.head()

,FISCAL_YEAR,HEALTH_AUTHORITY,HOSPITAL_NAME,PROCEDURE_GROUP,WAITING,COMPLETED,COMPLETED_50TH_PERCENTILE,COMPLETED_90TH_PERCENTILE
0,2009/10,All Health Authorities,All Facilities,Abdominoplasty,52,100,9.1,42.6
1,2009/10,All Health Authorities,All Facilities,All Other Procedures,"1,347","6,287",4.0,17.1
2,2009/10,All Health Authorities,All Facilities,All Procedures,"72,056","219,284",5.3,24.3
3,2009/10,All Health Authorities,All Facilities,Aortic Aneurysm Repair,96,365,3.7,13.5
4,2009/10,All Health Authorities,All Facilities,Appendectomy,19,88,3.7,9.1

In [3]:
waitdata_raw.head(20)

,FISCAL_YEAR,HEALTH_AUTHORITY,HOSPITAL_NAME,PROCEDURE_GROUP,WAITING,COMPLETED,COMPLETED_50TH_PERCENTILE,COMPLETED_90TH_PERCENTILE
0,2009/10,All Health Authorities,All Facilities,Abdominoplasty,52,100,9.1,42.6
1,2009/10,All Health Authorities,All Facilities,All Other Procedures,"1,347","6,287",4.0,17.1
2,2009/10,All Health Authorities,All Facilities,All Procedures,"72,056","219,284",5.3,24.3
3,2009/10,All Health Authorities,All Facilities,Aortic Aneurysm Repair,96,365,3.7,13.5
4,2009/10,All Health Authorities,All Facilities,Appendectomy,19,88,3.7,9.1
5,2009/10,All Health Authorities,All Facilities,Bariatric Surgery,530,201,16.6,151.7
6,2009/10,All Health Authorities,All Facilities,Biopsy in OR,438,"2,918",2.9,10.7
7,2009/10,All Health Authorities,All Facilities,Bladder Surgery,"1,830","6,003",4.4,23.3
8,2009/10,All Health Authorities,All Facilities,Bowel Resection,376,"2,732",2.6,9.9
9,2009/10,All Health Authorities,All Facilities,Breast Biopsy,230,"2,571",2.4,6.4
10,2009/10,All Health Authorities,All Facilities,Breast Reconstruction,473,"1,112",6.0,29.6
11,2009/10,All Health Authorities,All Facilities,Breast Reduction,"1,449","1,743",14.0,46.0
12,2009/10,All Health Authorities,All Facilities,Cataract Surgery,"12,982","47,146",6.6,25.1
13,2009/10,All Health Authorities,All Facilities,Cholecystectomy,"1,608","5,713",5.0,19.1
14,2009/10,All Health Authorities,All Facilities,Colostomy/Ileostomy,185,625,5.1,19.6
15,2009/10,All Health Authorities,All Facilities,Cone Biopsy,77,662,3.0,9.1
16,2009/10,All Health Authorities,All Facilities,Cranial Surgery,85,929,1.1,7.7
17,2009/10,All Health Authorities,All Facilities,CSF Drainage,5,63,1.9,8.2
18,2009/10,All Health Authorities,All Facilities,Cyst/Ganglion Removal,465,"1,469",5.4,20.6
19,2009/10,All Health Authorities,All Facilities,D&C and Related Surgery,"1,063","5,702",3.7,14.4

In [4]:
waitdata_raw.shape

(37665, 8)

In [6]:
waitdata_raw_shape = waitdata_raw.shape
waitdata_raw_shape

(37665, 8)

In [7]:
wdr = waitdata_raw
wdr.loc[10:20, "WAITING":"COMPLETED"]

   WAITING COMPLETED
10     473     1,112
11   1,449     1,743
12  12,982    47,146
13   1,608     5,713
14     185       625
15      77       662
16      85       929
17       5        63
18     465     1,469
19   1,063     5,702
20   2,158     5,251

In [11]:
wdr.loc[1000, "WAITING"]

'10'

In [13]:
wdr.loc[20000]

FISCAL_YEAR                                     2014/15
HEALTH_AUTHORITY                      Vancouver Coastal
HOSPITAL_NAME                Vancouver General Hospital
PROCEDURE_GROUP                           Thyroidectomy
WAITING                                              67
COMPLETED                                           136
COMPLETED_50TH_PERCENTILE                          14.1
COMPLETED_90TH_PERCENTILE                          46.1
Name: 20000, dtype: object

In [18]:
wdr.loc[10000:10020, ["WAITING"]]

      WAITING
10000      52
10001      19
10002      <5
10003       0
10004      39
10005      12
10006      <5
10007     175
10008      18
10009      69
10010     176
10011      22
10012      82
10013       8
10014       0
10015      16
10016     112
10017      40
10018      23
10019      71
10020      <5

In [22]:
wdr.iloc[-9:]

,FISCAL_YEAR,HEALTH_AUTHORITY,HOSPITAL_NAME,PROCEDURE_GROUP,WAITING,COMPLETED,COMPLETED_50TH_PERCENTILE,COMPLETED_90TH_PERCENTILE
37656,2019/20,Vancouver Island,West Coast General Hospital,Prostate Surgery,10,58,6.3,13.4
37657,2019/20,Vancouver Island,West Coast General Hospital,Rectal Surgery,5,13,4.1,13.9
37658,2019/20,Vancouver Island,West Coast General Hospital,Skin Surgery,<5,<5,NaN,NaN
37659,2019/20,Vancouver Island,West Coast General Hospital,Skin Tumour Removal,<5,8,1.1,5.2
37660,2019/20,Vancouver Island,West Coast General Hospital,Thyroidectomy,<5,0,NaN,NaN
37661,2019/20,Vancouver Island,West Coast General Hospital,Uterine Surgery,10,77,4.1,9.8
37662,2019/20,Vancouver Island,West Coast General Hospital,Vaginal Repair,<5,22,4.3,12.0
37663,2019/20,Vancouver Island,West Coast General Hospital,Vascular Surgery - Other,0,<5,NaN,NaN
37664,2019/20,Vancouver Island,West Coast General Hospital,Wound/Laceration Care,<5,11,2.1,3.3

In [32]:
wdr_sort = wdr.sort_values(by = "FISCAL_YEAR", ascending = False)
wdr_sort.head()

,FISCAL_YEAR,HEALTH_AUTHORITY,HOSPITAL_NAME,PROCEDURE_GROUP,WAITING,COMPLETED,COMPLETED_50TH_PERCENTILE,COMPLETED_90TH_PERCENTILE
37664,2019/20,Vancouver Island,West Coast General Hospital,Wound/Laceration Care,<5,11,2.1,3.3
35411,2019/20,Interior,Kelowna General Hospital,Nasal Surgery,92,127,9.7,42.9
35409,2019/20,Interior,Kelowna General Hospital,Mastoidectomy,6,6,3.1,5.4
35408,2019/20,Interior,Kelowna General Hospital,Mastectomy,25,230,2.9,5.7
35407,2019/20,Interior,Kelowna General Hospital,Male Reproductive Surgery,28,68,5.1,23.1

In [34]:
wdr.describe(include = 'all')

,FISCAL_YEAR,HEALTH_AUTHORITY,HOSPITAL_NAME,PROCEDURE_GROUP,WAITING,COMPLETED,COMPLETED_50TH_PERCENTILE,COMPLETED_90TH_PERCENTILE
count,37665,37665,37665,37665,37665,37665,30266.000000,30266.000000
unique,11,7,63,85,1525,2489,NaN,NaN
top,2011/12,Fraser,All Facilities,All Procedures,<5,<5,NaN,NaN
freq,3469,8444,6168,726,9649,6607,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,7.421086,22.002425
std,NaN,NaN,NaN,NaN,NaN,NaN,7.163949,17.150503
min,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,3.100000,10.300000
50%,NaN,NaN,NaN,NaN,NaN,NaN,5.300000,18.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,9.000000,29.500000
max,NaN,NaN,NaN,NaN,NaN,NaN,142.600000,256.100000

In [39]:
waiting = wdr[['WAITING']]
waiting.mean()

Series([], dtype: float64)

In [40]:
wdr.mean()

COMPLETED_50TH_PERCENTILE     7.421086
COMPLETED_90TH_PERCENTILE    22.002425
dtype: float64

In [42]:
waitingSum = wdr[['WAITING']].sum()
waitingSum

WAITING    521,34772,05696195304381,8303762304731,44912,9...
dtype: object

In [43]:
waiting_column = wdr['WAITING']
waiting_column

0            52
1         1,347
2        72,056
3            96
4            19
          ...
37660        <5
37661        10
37662        <5
37663         0
37664        <5
Name: WAITING, Length: 37665, dtype: object

In [44]:
waiting_freq = waiting_column.value_counts()
waiting_freq

<5       9649
0        6455
5        1223
6        1022
7         821
         ...
2,761       1
1,559       1
970         1
2,140       1
1,902       1
Name: WAITING, Length: 1525, dtype: int64